/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

#pokemonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#pokemonDisplay {
    margin-top: 20px;
}

#pokemonImage {
    max-width: 200px;
    margin-top: 10px;
}
